header {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    height: var(--header-height);
    padding: var(--header-padding);
    font-size: var(--header-font-size);
    font-family: var(--header-font-family);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--header-shadow);
}